/* ▮▮▮▮▮▮▮▮▮▮▮▮▮ IMPORTS ▮▮▮▮▮▮▮▮▮▮▮▮▮ */

/* ▮▮▮▮▮▮▮▮▮▮▮▮ VARIABLES ▮▮▮▮▮▮▮▮▮▮▮▮ */
:root {
  --bodyTextColor: #FEFEFF;
  --titleColor: color(var(--backgroundColor) whiteness(20%));;
  --backgroundTitleColor: #AFE0CE;
  --accentColor: #D6F49D;
  --backgroundColor: color(#242124 blackness(100%));
  --bodyBackgroundColor: color(var(--backgroundColor) whiteness(13%));
}

/* ▮▮▮▮▮▮▮▮▮▮▮▮▮ STYLES ▮▮▮▮▮▮▮▮▮▮▮▮▮ */
* {
  color: var(--bodyTextColor);
}

body {
  background-color: var(--bodyBackgroundColor);
  background: var(--bodyBackgroundColor)
  /*Working exanple: */
  /*background: var(--bodyBackgroundColor) url("./assets/media/thvoyage.jpg") center no-repeat padding-box*/	border-box fixed;
  background-size: cover;
  width: 100%;
}

#container {
  background-color: var(--backgroundColor);
  width: calc(100% - 10%);
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px 25px;
  min-height: 100vh;
}

section/*:not(:last-child)*/ {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--bodyTextColor);
}

section:first-child {
  padding-top: 30px;
  border-top: 2px solid var(--bodyTextColor);
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  & span{
    display: inline-block;
    background-color: var(--backgroundTitleColor);
    color: var(--titleColor);
    padding: 5px 15px;
  }
}

h1 {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

p#intro {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

p#end {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
}

#container a {
  color: var(--accentColor);
}

dt {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  text-transform: uppercase;
}

dd {
  margin-left: 10px;
}

/* ▮▮▮▮▮▮▮▮▮▮▮▮ ANIMATIONS ▮▮▮▮▮▮▮▮▮▮▮▮ */

/* ▮▮▮▮▮▮▮▮▮▮▮ MEDIA QUERIES ▮▮▮▮▮▮▮▮▮▮▮ */
